body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
}

h1{
  text-align: center;
  padding: 20px;
}

header img {
  display: flex;
  position: absolute;
  width: 30px;
  top: 40px;
}

.bt-home {
  color: #4caf50;
  background-color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 7%;
  left: 3%;
}

div.edit{
  display: flex;
  justify-content: space-around;
}

div.edit p{
  cursor: pointer;
}

div.edit p:hover{
  text-decoration: underline;
}

#add{
  color: green;
  margin-left: 100px;
}
#editar{
  color: #777;
}
#remove{
  color: red;
  margin-right: 100px;
}

h1,
h2,
h3 {
  margin: 0;
}

hr {
  border: none;
  height: 2px;
  background-color: #ddd;
  margin: 20px 0;
}

header {
  background-color: #4caf50;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
    margin: 0; 
    margin: 0;
    font-size: 3em; 
}

header p {
  margin-top: 5px;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #4caf50;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav p {
  text-align: center;
  font-size: small;
  color: #777;
}

section {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}

section h2 {
  color: #4caf50;
  margin-bottom: 15px;
}

.title h2 {
  background-color: #4caf50;
  padding: 15px;
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 2em;
}

article {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
}

article h3 {
  margin-top: 0;
}

article img {
  width: 200px;
  display: block;
  margin-bottom: 10px;
}

.produtodiv {
  margin-bottom: 30px;
  border: 1px solid rgb(177, 177, 177);
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 690px;
  padding: 10px;
}

.itembox {
    margin-left: 60px;
    margin-right: 60px;
  text-align: center;
  flex: 1;
}

.itembox img {
  margin: auto;
}

.itembox h3 {
  font-size: 1.8em;
  margin-bottom: 5px;
}

.itembox p {
  font-size: 1.3em;
  color: rgb(48, 48, 48);
}

.preco {
  color: rgb(134, 134, 134);
  font-weight: bold;
  display: block;
  margin: 10px 0;
}

.itembox a {
  background-color: #4caf50;
  color: white;
  text-decoration: none;
    padding: 8px 14px;
  border-radius: 10px;
  display: inline-block;
  transition: transform 0.3s;
      font-size: 2em;
}

.itembox a:hover {
  transform: scale(1.1);
}

.itembox img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

form {
  background-color: #f9f9f9;
  padding: 15px;
  width: 300px;
  border: 1px solid #ddd;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

#container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#photo {
  width: 50vh;
  max-width: 100%;
}

#art-local {
  margin: 5%;
}

.agend {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  flex-direction: column;
}

#services {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid #777;
}

.bt-agenda {
  width: 100%;
  margin-top: 10px;
}

footer {
  text-align: center;
  color: #777;
  font-size: 14px;
  margin-top: 20px;
  padding: 20px 0;
}

footer.footer-solid {
  background-color: #b3b3b3;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  width: 100%;
}

footer.footer-solid p {
  font-size: 1em;
  font-weight: bold;
  color: white;
  margin: 0;
}

.Servicodiv{
  display: flex;
  border: 1px solid rgb(177, 177, 177);
  background-color: white;
  justify-content: space-between;
  padding: 10px;
}

#servicos{
  display: flex;
  flex-direction: row;
}
